<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    </head>
    <body>
    <main class="w3-container-fluid w3-red w3-center">
      <div class="w3-animate-opacity  w3-padding-16">
        <h1>Welcome to Pircle</h1>
        <p>Your P<span onmouseover="this.style.display='none';">ersonal C</span>ircle !</p>
      </div>
      <div class="w3-animate-left w3-padding-16">
        <h3 > What is Pircle ?</h3>
        <p>Pircle is a Personalisable Platform , which can be a useful Tool for you in getting closer with your Family and Friends</p>
        <p>It helps you Learn more about your Family and Friends and It also helps your Family and Friends Learn more about you</p>
      </div>
      <div class="w3-animate-zoom w3-padding-16">
        <h1 class="w3-padding-16"> Want to try Pircle ? Its Free , So Try it out !</h1>
        <a href="/accounts/sign-up/" class="w3-btn w3-round-xxlarge w3-white w3-text-red w3-margin-right w3-large"> Sign-Up </a> 
        <a href="/accounts/sign-in/" class="w3-btn w3-large w3-round-xxlarge w3-margin-left"> Sign-In </a>
      </div>  
      <div class="w3-animate-right w3-padding-16">
        <p>Privacy</p> <p>Your Data will be always Private from our end , So don't sweat it</p>
        <p>Security</p> <p>Your Data will be safe and Secure , We got you covered</p>
      </div>
    </main>    
    <footer>
      <div class="w3-container-fluid w3-text-red w3-center w3-animate-top ">
        <p>Want to know more about the Developer ?<a><i>(Icons)</i></a> 2019 Copyright reserved</p>
      </div>   
    </footer>  
    </body>
    </html>